body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
    direction: rtl;
}

.vertical-checkbox{
    text-align:center;
    display: block;
}

*>,
[dir="rtl"] {
  .direction-ltr {
    direction: ltr;
    text-align: left;
    &[class*="col-"] {
      float: left !important;
    }
    code { opacity:1; }
  }
}

* { direction: rtl; }
